<!DOCTYPE html>
<html>
<head>
    <title>Blog List</title>
</head>
<body>
    {% if user.is_authenticated %}
    <h1>Blog List</h1>
    <a href="{% url 'create_blog' %}">Create New Blog</a>
    <ul>
        {% for blog in blogs %}
            <li>
                <a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'delete_blog' blog.pk %}">Delete</a>
                {% endif %}
            </li>
        {% empty %}
            <li>No blogs available.</li>
        {% endfor %}
    </ul>
    {% endif %}

    
</body>
</html>
